@font-face {
  font-family: "Iosevka Etoile Web";
  font-weight: 400;
  font-style: normal;
  src: url("/static/fonts/iosevka-etoile-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Etoile Web";
  font-weight: 400;
  font-style: italic;
  src: url("/static/fonts/iosevka-etoile-italic.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Etoile Web";
  font-weight: 700;
  font-style: normal;
  src: url("/static/fonts/iosevka-etoile-bold.woff2") format("woff2");
}
