:root {
  /* Apprentice colors */
  --foreground: #bcbcbc;
  --background: #262626;
  --color0: #1c1c1c;
  --color8: #444444;
  --color1: #af5f5f;
  --color9: #ff8700;
  --color2: #5f875f;
  --color10: #87af87;
  --color3: #87875f;
  --color11: #ffffaf;
  --color4: #5f87af;
  --color12: #8fafd7;
  --color5: #5f5f87;
  --color13: #8787af;
  --color6: #5f8787;
  --color14: #5fafaf;
  --color7: #6c6c6c;
  --color15: #ffffff;

  --color-body: var(--color15);
  --color-text: var(--color0);
  --color-text-dim: var(--color7);
  --color-text-dimmer: var(--color0);
  --color-divider: var(--color0);
  --color-keyword: var(--color-text);

  --font-mono: "Iosevka Aile";
  /* --font-mono: "Iosevka Extended"; */
  --font-sans: var(--font-mono);
  --font-serif: var(--font-mono);
}

/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --color-body: var(--background); */
/*     --color-text: var(--foreground); */
/*     --color-bright: var(--color15); */
/*     --color-text-dim: var(--color7); */
/*     --color-text-dimmer: var(--foreground); */
/*     --color-divider: var(--color7); */
/*     --color-container: var(--background); */
/*     --color-link: var(--foreground); */
/*     --color-keyword: var(--foreground); */
/*   } */
/* } */

/* TYPOGRAPHY */

body {
  background-color: var(--color-body);
  font-family: var(--font-sans);
  line-height: 1.5;
  font-size: 16px;
  color: var(--color-text);
  margin: 0.75rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
header,
nav,
footer {
  font-size: 100%;
  font-family: var(--font-sans);
}

h1 {
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
}
h2 {
  margin: 2rem 0 1rem;
  padding: 1rem 0;
  text-transform: uppercase;
  border-bottom: 3px double;
}
h3 {
  margin: 2rem 0 1rem;
  padding: 1rem 0;
  border-bottom: 1px solid;
}
h4 {
  margin: 2rem 0 1rem;
  /* font-size: small; */
  text-transform: uppercase;
}
h5 {
  margin: 2rem 0 1rem;
  font-size: x-small;
  text-transform: uppercase;
}
h6 {
  margin: 1rem 0 1rem;
  font-size: x-small;
}
p {
  margin: 1rem 0;
}

small {
  font-size: 100%;
}

blockquote {
  margin-right: 0;
  margin-left: 0;
  padding-left: 2rem;
  border-left: 1px solid;
}

ul {
  padding-left: 1rem;
}
hr {
  margin: 2rem 0;
  border: none;
  border-bottom: 1px solid var(--color-divider);
}

pre {
  margin: 2rem 0;
  /* font-size: smaller; */
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 0.75rem 1rem;
  border: 1px dashed var(--color-divider);
}
code {
  font-family: var(--font-mono);
}
:not(pre) > code {
  color: var(--color-keyword);
  padding: 0 2px;
  outline: 1px dotted;
}

/* LINKS */

a,
a:visited {
  color: currentColor;
  text-decoration-color: var(--color-link);
}
a:hover {
  color: var(--color-link);
  text-decoration-color: currentColor;
}

nav a:not(:hover),
footer a:not(:hover),
small a:not(:hover) {
  text-decoration: none;
}

/* HEADER */

body > header {
  /* display: flex; */
  /* align-items: baseline; */
  /* justify-content: space-between; */
  margin-bottom: 4rem;
}
header > em {
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  display: none;
}
header > em::after {
  content: "\a0|\a0";
}

header nav {
  text-transform: lowercase;
  display: inline-block;
}
header nav ul {
  padding: 0;
  margin: 0;
  /* text-align: right; */
}
header nav li {
  display: inline-block;
}
header nav li:not(:last-child):after {
  content: "\a0\b7\a0";
}

header nav li a[data-current="current item"] {
  color: var(--color-text);
  text-decoration: underline;
}

/* POSTS LIST AND ARTICLE */

main {
  /* padding: 0.75rem 1rem; */
  /* background-color: var(--background); */
  /* border-radius: 8px; */
}

main > section > article:not(:last-child) {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid;
}
main > section > article > h3 {
  margin: 0;
  border: none;
  padding: 0;
}

main header {
  margin-bottom: 4rem;
}

main header small {
  display: block;
}

main header p {
  margin: 2rem 0;
}

main > section > article > * {
  margin: 0;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

/* Article Containers */

article .note {
  margin: 1rem 0;
  font-size: smaller;
  font-style: italic;
  color: var(--color4);
  /* background-color: var(--color-container); */
  /* padding: 0.75rem 1rem; */
}
article .note::before {
  content: "Note";
  display: block;
  /* margin-bottom: 0.5rem; */
  font-weight: 500;
  color: var(--color12);
}
article .note :last-child {
  margin-bottom: 0;
}

/* Post Tags */

/* a[rel="tag"],
a[rel="tag"]:visited {
  text-decoration: none;
}

a[rel="tag"]:hover {
  color: var(--color-text);
} */

@media screen and (min-width: 768px) {
  /* body { */
  /*   font-size: 125%; */
  /* } */
}
