:root {
  /* Apprentice colors */
  --foreground: #bcbcbc;
  --background: #262626;
  --color0: #1c1c1c;
  --color8: #444444;
  --color1: #af5f5f;
  --color9: #ff8700;
  --color2: #5f875f;
  --color10: #87af87;
  --color3: #87875f;
  --color11: #ffffaf;
  --color4: #5f87af;
  --color12: #8fafd7;
  --color5: #5f5f87;
  --color13: #8787af;
  --color6: #5f8787;
  --color14: #5fafaf;
  --color7: #6c6c6c;
  --color15: #ffffff;

  /* Verdandi Alter Colors */
  --d-00: #050607;
  --d-01: #111316;
  --d-02: #1b1f23;
  --d-03: #262b30;
  --d-04: #323940;
  --d-05: #424a52;
  --d-06: #5b646c;
  --d-07: #7e868d;
  --d-08: #a1a8ae;
  --d-09: #c0c5ca;
  --d-10: #d6dade;

  --l-00: #f8f9fa;
  --l-01: #e9ecee;
  --l-02: #dce0e4;
  --l-03: #cfd4d9;
  --l-04: #bfc6cd;
  --l-05: #adb5bd;
  --l-06: #939ba4;
  --l-07: #727981;
  --l-08: #51575e;
  --l-09: #353a3f;
  --l-10: #212529;

  --color-body: var(--l-00);
  --color-text: var(--l-10);
  --color-text-dim: var(--l-07);
  --color-text-dimmer: var(--l-03);
  --color-divider: var(--l-02);

  --font-mono: "IBM Plex Mono", "Menlo", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", Courier, monospace;
  --font-sans: "IBM Plex Sans", "Helvetica Neue", Arial, sans-serif;
  --font-serif: Charter, Georgia, serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-body: var(--color0);
    --color-text: var(--foreground);
    --color-text-dim: var(--color7);
    --color-text-dimmer: var(--color8);
    --color-divider: var(--color8);
    --color-container: var(--background);
    --color-link: var(--color14);
    --color-keyword: var(--color11);
  }
}

/* TYPOGRAPHY */

body {
  background-color: var(--color-body);
  font-family: var(--font-sans);
  line-height: 1.5;
  color: var(--color-text);
  margin: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
header,
nav,
footer {
  font-family: var(--font-sans);
  font-weight: 500;
  color: var(--color15);
}

h1 {
  font-size: xx-large;
  font-weight: 400;
  line-height: 1.15;
  padding-bottom: 0.25rem;
  margin-bottom: 0.25rem;
  border-bottom: 1px solid var(--color-divider);
}
h2 {
  font-size: x-large;
  line-height: 1.25;
  margin: 2rem 0 1rem;
}
h3 {
  margin: 2rem 0 1rem;
  font-size: large;
  line-height: 1.5;
}
h4 {
  margin: 2rem 0 1rem;
  font-size: medium;
}
h5 {
  margin: 2rem 0 1rem;
  font-size: small;
}
h6 {
  margin: 2rem 0 1rem;
  font-size: x-small;
}

small,
nav {
  color: var(--color-text-dim);
  font-family: var(--font-mono);
  font-size: smaller;
}

blockquote {
  font-style: italic;
  margin-right: 0;
}

pre {
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 0.75rem 0;
  margin: 1rem 0;
  line-height: 1.25;
  /* font-size: smaller; */
  border-top: 1px dashed var(--color-divider);
  border-bottom: 1px dashed var(--color-divider);
}
code {
  font-family: var(--font-mono);
}
:not(pre) > code {
  color: var(--color-keyword);
}

/* LINKS */

a,
a:visited {
  color: currentColor;
  text-decoration-color: var(--color-link);
}
a:hover {
  color: var(--color-link);
  text-decoration-color: currentColor;
}

nav a:not(:hover),
footer a:not(:hover),
small a:not(:hover) {
  color: var(--color-text-dim);
  text-decoration: none;
}

/* HEADER */

header > em {
  font-family: var(--font-sans);
  color: var(--color-text);
  font-weight: normal;
  font-style: normal;
  margin: 0.5rem 0;
}

header nav {
  text-transform: lowercase;
  font-weight: 500;
}
header nav ul {
  padding: 0;
  margin: 0.5rem 0;
}
header nav li {
  display: inline-block;
}
header nav li:not(:last-child):after {
  content: "\a0\b7\a0";
}

header nav li a[data-current="current item"] {
  color: var(--color-text);
  text-decoration: underline;
}

/* POSTS LIST AND ARTICLE */

main > section > article {
  margin-bottom: 2rem;
}
main > section > article > h3 {
  margin-bottom: 0;
  line-height: inherit;
}
main > section > article > nav > a {
  color: var(--color-text-dim);
}

main header {
  margin-bottom: 2rem;
}

main header small {
  display: block;
}

main header p {
  font-size: larger;
  font-family: var(--font-sans);
  color: var(--color-text-dim);
}

main > section > article > * {
  margin: 0;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

/* Article Containers */

article .note {
  margin: 2rem 0;
  font-size: smaller;
  color: var(--color-text-dim);
  background-color: var(--color-container);
  padding: 0.75rem 1rem;
}
article .note::before {
  content: "Note";
  display: inline-block;
  padding-bottom: 0.5rem;
  margin-bottom: 0.25rem;
  border-bottom: 1px solid var(--color2);
  font-weight: 500;
  color: var(--color10);
  line-height: 1;
}

/* Post Tags */

/* a[rel="tag"],
a[rel="tag"]:visited {
  text-decoration: none;
}

a[rel="tag"]:hover {
  color: var(--color-text);
} */

@media screen and (min-width: 768px) {
  body {
    /* font-size: 110%; */
  }
}
