:root {
  --content-width: 80ch;
}

body {
  display: grid;
  grid-template-columns:
    minmax(auto, 1fr) minmax(auto, var(--content-width)) minmax(auto, 1fr)
    minmax(auto, 1fr) minmax(auto, 1fr);
}

header,
main,
footer {
  grid-column: 2;
}
