:root {
  --foreground: #bcbcbc;
  --background: #262626;
  --color0: #1c1c1c;
  --color8: #444444;
  --color1: #af5f5f;
  --color9: #ff8700;
  --color2: #5f875f;
  --color10: #87af87;
  --color3: #87875f;
  --color11: #ffffaf;
  --color4: #5f87af;
  --color12: #8fafd7;
  --color5: #5f5f87;
  --color13: #8787af;
  --color6: #5f8787;
  --color14: #5fafaf;
  --color7: #6c6c6c;
  --color15: #ffffff;
}

/**
 * Dracula Theme originally by Zeno Rocha [@zenorocha]
 * https://draculatheme.com/
 *
 * Ported for PrismJS by Albert Vallverdu [@byverdu]
 */

/* code[class*="language-"], */
/* pre[class*="language-"] { */
/*   color: #f8f8f2; */
/*   background: none; */
/*   text-shadow: 0 1px rgba(0, 0, 0, 0.3); */
/*   font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace; */
/*   text-align: left; */
/*   white-space: pre; */
/*   word-spacing: normal; */
/*   word-break: normal; */
/*   word-wrap: normal; */
/*   line-height: 1.5; */
/*   -moz-tab-size: 4; */
/*   -o-tab-size: 4; */
/*   tab-size: 4; */
/*   -webkit-hyphens: none; */
/*   -moz-hyphens: none; */
/*   -ms-hyphens: none; */
/*   hyphens: none; */
/* } */

/* Code blocks */
/* pre[class*="language-"] { */
/*   padding: 1em; */
/*   margin: 0.5em 0; */
/*   overflow: auto; */
/*   border-radius: 0.3em; */
/* } */

/* :not(pre) > code[class*="language-"], */
/* pre[class*="language-"] { */
/*   background: #282a36; */
/* } */

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--color7);
}

.token.punctuation {
  color: var(--color7);
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: var(--color2);
}

.token.boolean,
.token.number {
  color: blue;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: var(--color13);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: var(--color7);
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: var(--color14);
}

.token.keyword {
  color: var(--color6);
}

.token.regex,
.token.important {
  color: #ffb86c;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
