<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<header>
			<em>
				{{ metadata.title }}
			</em>
			{% include "components/nav.njk" %}
		</header>

		<main>
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}
		
		<script>var clicky_site_ids = clicky_site_ids || []; clicky_site_ids.push(101208630);</script>
    <script async src="//static.getclicky.com/js"></script>
    <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101208630ns.gif" /></p></noscript>

	</body>

</html>