---
layout: layouts/base.njk
section: blog
permalink: /writing/index.html
---

<header>
	<h1>{{ title }}</h1>

	{% if subtext %} 
	<small>
	  {{subtext}}{% if date %}. Updated <time datetime="{{ date | machineDate }}">{{ date | relativeDate }}</time>.{% endif %}
	</small>
	{% endif %}
</header>

{{ layoutContent | safe }}

{% set postslist = collections.posts %}
{% include "components/postslist.njk" %}
