---
layout: layouts/base.njk
section: page
---

<header>
  <h1>{{ title }}</h1>

  <small>
    {% if subtext %}
      {{ subtext }}
      <span>&middot;</span>
    {% endif %}
    updated <time datetime="{{ page.date | machineDate }}">
      {{page.date | readableDate}}
      </time>
  </small>
</header>

{{ layoutContent | safe }}
