---
layout: layouts/base.njk
section: page
---

<header class="header">
  <h1 class="header-title">{{ title }}</h1>

  {% if subtext %}
  <span class="header-summary">
    {{ subtext }}
  </span>
  {% endif %}

  <span class="header-time">
    updated: <time datetime="{{ page.date | machineDate }}">
      {{page.date | readableDate}}
      </time>
  </span>
</header>

{{ layoutContent | safe }}
