---
layout: layouts/base.njk
section: page
---

<h1>{{ title }}</h1>

<small>
  Updated: <time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time>
</small>

{{ layoutContent | safe }}
