---
layout: layouts/base.njk
section: post
---

<article>
  <header class="header">
    <h1 class="header-title">{{ title }}</h1>
    <span class="header-summary">{{ summary }}</span>
    
    <br>
    
    <time class="header-time" datetime="{{ page.date | machineDate }}">{{ page.date | readableDate }}</time>
  </header>

  {{ layoutContent | safe }}
</article>
<nav class="post-nav">
  <a href="{{ '/writing/' | url }}">← Writing index</a>
  {% if tags %}
  <ul class="post-tags">
  {% for tag in tags %} {%- if tag != "post" -%}
  {% set tagUrl %}/tags/{{tag}}/{% endset %}
  <li class="post-tags-item"><a href="{{ tagUrl | url }}" rel="tag">#{{ tag }}</a></li>
  {%- endif -%} {% endfor %}
  </ul>
  {% endif %}
</nav>
